<section>
  <header>
    <img src="http://i.imgur.com/ke8USTq.png" alt="GA bitches">
    <h1>All of GA's Repos</h1>
    <div class="form-group">
      <label for="repo-search">Search all the repos</label>
      <input name="repo-search" ng-model="search">
    </div>
  </header>
  <div class="repos">
    <div class="repo" ng-repeat="repo in repos | filter:search">
      <h1><a href="{{repo.url}}">{{repo.name}}</a></h1>
      <ul ng-if="repo.pull_requests_count != null">
        <li ng-repeat="build in repo.pull_requests">
          <h4><a href="{{build.build_url}}">{{build.committer_name}}: {{build.commit_message}}</a></h4>
          <p ng-bind-html="build.build_status | isPassing"></p>
          <p ng-bind-html="build.status_message"></p>
        </li>
      </ul>
    </div>
  </div>
</section>